<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="font_editor_pro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- نقطه ورود اصلی برنامه که به FlutterActivity مدرن اشاره می‌کند -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- مشخص می‌کند که این اکتیویتی، صفحه اصلی برنامه است -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- متا دیتا برای ابزارهای فلاتر -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
